<nz-card style="top:20px;">
    <ng-template #title>
        销售订单
    </ng-template>
    <ng-template #extra>
        <button nz-button [nzType]="'primary'" (click)="openAddModal()">
            <span>新增</span>
        </button>
    </ng-template>
    <ng-template #body>
        <nz-table #nzTable [nzAjaxData]="orderList" nzBordered nzIsPagination="false">
            <thead nz-thead>
            <tr>
                <th nz-th><span>订单号</span></th>
                <th nz-th><span>客户公司</span></th>
                <th nz-th><span>订单金额</span></th>
                <!--<th nz-th><span>修改时间</span></th>-->
                <th nz-th><span>生成时间</span></th>
                <th nz-th><span>备注</span></th>
                <th nz-th><span>操作</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>
                    {{data.orderId}}
                </td>
                <td nz-td>
                    {{data.purchaseCompany.name}}
                </td>
                <td nz-td>{{data.money | _currency}}</td>
                <!--<td nz-td>{{data.updateTime | _date: 'YYYY-MM-DD HH:mm:ss'}}</td>-->
                <td nz-td>{{data.createTime | _date: 'YYYY-MM-DD HH:mm:ss'}}</td>
                <td nz-td>{{data.description}}</td>
                <td nz-td>
                    <span>
                        <button nz-button [nzType]="'default'" style="right: 5px;" (click)="openUpdateModal(data)">
                          <span>修改</span>
                        </button>
                        <nz-popconfirm (nzOnConfirm)="delete(data.id)" [nzTitle]="'是否要删除此行？'">
                            <button nz-button nz-popconfirm [nzType]="'danger'">
                              <span>删除</span>
                            </button>
                        </nz-popconfirm>
                    </span>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </ng-template>
</nz-card>
