<div>
    <form nz-form [formGroup]="typeForm">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label nz-form-item-required>名称</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="typeForm.controls.name">
                <nz-input formControlName="name" [nzPlaceHolder]="'请输入类型名称'"></nz-input>
                <div nz-form-explain *ngIf="typeForm.controls.name.dirty&&typeForm.controls.name.hasError('required')">请按规则输入名称!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label>备注</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="typeForm.controls.note">
                <nz-input formControlName="note" [nzPlaceHolder]="'请输入备注信息'"></nz-input>
            </div>
        </div>
    </form>
    <div class="customize-footer" align="right">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="submit()" style="right:10px;">
            提交
        </button>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
            取消
        </button>
    </div>
</div>
